<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<head>
    
    <title>Home - Moth</title>

</head>
<body>

   
    <div class="container">
        <div class="row">
            <div class="col-6">
                <% if (user.kind === "Demo" || user.kind === "N/A") { %>
                    <div class="bord my-3">
                        <div id="tickets"></div>
                    </div>
                <% } %>
                
                <% if (user.kind !== "Demo" && user.kind !== "N/A") { %>
                    <div class="bord my-3">
                        <div class="container">
                            <h3 class="mt-3">My Tickets</h3>
                            <h5 class="d-flex justify-content-center mt-5"><em>You do not have any tickets</em></h5>
                        </div>
                    </div>
                <% } %>

            </div>
            <div class="col-6">
                <% if (user.kind === "Demo" || user.kind === "N/A") { %>
                    <div class="bord my-3">
                        <div id="tickets_priority"></div>
                    </div>
                <% } %>
                
                <% if (user.kind !== "Demo" && user.kind !== "N/A") { %>
                    <div class="bord my-3">
                        <div class="container">
                            <h3 class="mt-3">Project Tickets by Priority</h3>
                            <h5 class="d-flex justify-content-center mt-5"><em>You do not have any tickets</em></h5>
                        </div>
                    </div>
                <% } %>


            </div>
            <div class="col-6">
                <% if (user.kind === "Demo" || user.kind === "N/A") { %>
                    <div class="bord my-3">
                        <div id="tickets_status"></div>
                    </div>
                <% } %>
                
                <% if (user.kind !== "Demo" && user.kind !== "N/A") { %>
                    <div class="bord my-3">
                        <div class="container">
                            <h3 class="mt-3">Project Tickets by Status</h3>
                            <h5 class="d-flex justify-content-center mt-5"><em>You do not have any tickets</em></h5>
                        </div>
                    </div>
                <% } %>


            </div>
            <div class="col-6">
                <% if (user.kind === "Demo" || user.kind === "N/A") { %>
                    <div class="bord my-3">
                        <div id="tickets_type"></div>
                    </div>
                <% } %>
                
                <% if (user.kind !== "Demo" && user.kind !== "N/A") { %>
                    <div class="bord my-3">
                        <div class="container">
                            <h3 class="mt-3">Project Tickets by Type</h3>
                            <h5 class="d-flex justify-content-center mt-5"><em>You do not have any tickets</em></h5>
                        </div>
                    </div>
                <% } %>


            </div>
            
        </div>
        
        
    </div>
    
   
    








    







